<div class="card m-3">
    <form name="form" #userForm="ngForm" (ngSubmit)="userForm.form.valid && save()" *ngIf="user">
        <div class="card-header">
            <h2 *ngIf="user.id">Editing #{{user.id}} <i>{{user.name}}</i></h2>
            <h2 *ngIf="!user.id">Adding new user</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" [(ngModel)]="user.name" #name="ngModel"
                    required>
                <div *ngIf="userForm.submitted && name.invalid" class="text-danger">
                    <div> Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input class="form-control" type="text" id="email" name="email" [(ngModel)]="user.email"
                    #email="ngModel" required email>
                <div *ngIf="userForm.submitted && email.invalid" class="text-danger">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-5">Save</button>
                <button class="btn btn-secondary" (click)="goBack()">Cancel</button>
            </div>
        </div>
    </form>
</div>